@model GYMFIND.ViewModel.VmGimnaciosBusqueda
@{
    ViewBag.Title = "lista de Establecimientos";
}

<div class="page-title">
    <div class="title_left">
        <h3>Lista de Establecimientos</h3>
    </div>

    @*<form role="form" method="post" action="@Url.Action("gimnaciosBusqueda")">
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                   
                    @Html.EditorFor(x => x.filtro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar Por Nombre.." } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </form>*@
</div>

<div class="clearfix"></div>

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Establecimientos </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                  
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="row">

                    

                    @foreach (var p in @Model.lista)
                    {
                        <div class="col-md-55">
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    <img style="width: 100%; display: block;" src="@Url.Content(@p.imagen)" alt="image">
                                    <div class="mask">
                                        <p>@p.Direccion</p>
                                        <div class="tools tools-bottom">
                                            @*<a href="#"><i class="fa fa-link"></i></a>*@
                                            <a href="@Url.Action("agregarEstablecimiento", new {establecimientoId=p.EstablecimientoID })"><i class="fa fa-pencil"></i></a>
                                            @*<a href="#"><i class="fa fa-times"></i></a>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="caption">
                                    <p>@p.Nombre</p>
                                </div>
                            </div>
                        </div>
                    }


                </div>

            </div>
        </div>
    </div>
</div>