@model GYMFIND.ViewModel.VmListarAsociados
@{
    ViewBag.Title = "listar Asociados";
}

<div class="page-title">
    <div class="title_left">
        <h3>Asociados</h3>
    </div>

    @*<form role="form" method="post" action="@Url.Action("listarPlan")">
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                   
                    @Html.EditorFor(x => x.filtro, new { htmlAttributes = new { @class = "form-control", @placeholder = "Buscar Por Nombre.." } })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
    </form>*@
</div>

<div class="clearfix"></div>
<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>Planes de establecimiento</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                @*<li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="#">Settings 1</a>
                            </li>
                            <li>
                                <a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>*@
                <li>
                    <a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            @*<p>Add class <code>bulk_action</code> to table for bulk actions options on row select</p>*@
            <table class="table table-striped responsive-utilities jambo_table bulk_action">
                <thead>
                    <tr class="headings">
                        @*<th>
                                <input type="checkbox" id="check-all" class="flat">
                            </th>*@
                        <th class="column-title">Usuario </th>
                        <th class="column-title">Establecimiento </th>
                        @*<th class="column-title">Costo </th>
                        <th class="column-title">Categoria </th>*@
                        <th class="column-title">Opcion </th>
                        @*<th class="column-title">Amount </th>
                            <th class="column-title no-link last">
                                <span class="nobr">Action</span>
                            </th>*@
                        <th class="bulk-actions" colspan="7">
                            <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var p in Model.lista)
                    {
                        <tr class="even pointer">
                            @*<td class="a-center ">
                                    <input type="checkbox" class="flat" name="table_records">
                                </td>*@
                            <td class=" ">@p.Usuario</td>
                            <td class=" ">@p.Establecimiento.Nombre</td>
                            
                            @*<td class=" ">Paid</td>
                                <td class="a-right a-right ">$7.45</td>*@
                            <td class=" last">
                                <a class="btn-default" href="@Url.Action("registrarAsociados",new {asociadoID=p.AsociadoID })"><i class="fa fa-edit"></i> Editar</a>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>





